alias la='ls -a'
alias ll='ls -lh'
alias l='ls'
alias sl=ls
alias mv='mv -v'
alias cp='cp -v'
alias scd='cd'  # whoops, leftover `s` from ls
alias rm='rm -v'
alias rmdir='rmdir -v'

alias lock='lock_screen'
alias logout='logout_session'

# macOS has this out of the box. Usage: echo "something" | pbcopy
alias pbcopy='xclip -selection clipboard'
alias clear-clipboard='xsel -cb'

alias ncmpc='ncmpcpp'
alias open-file='gio open'
alias empty-trash='echo "Emptying trash..." && gio trash --empty'
alias emacs='emacs --no-window-system'
alias rake='echo [bundle exec rake] && bundle exec rake'

# check temperature on Raspberry Pi. User must be in the 'video' group
alias pi-check-temp='/opt/vc/bin/vcgencmd measure_temp'
