alias la='ls -a'
alias ll='ls -lh'
alias l='ls'
alias sl=ls
alias mv='mv -v'
alias cp='cp -v'
alias scd='cd'  # whoops, leftover `s` from ls
alias rm='rm -v'
alias rmdir='rmdir -v'

alias lock='lock_screen'
alias logout='logout_session'
