#!/bin/bash

# See: https://eklitzke.org/bash-subcommand-aliases

# see defined functions:
alias what-functions='declare -F'

# unset function:
# unset -f my-function-name

function czdate() {
   LC_ALL=cs_CZ.UTF-8 date +"%A %d %B %Y %H:%M:%S %Z"
}
